{"openapi":"3.1.0","info":{"title":"FinchNode Public Demo API","version":"2026-08-25","summary":"Accountless, rate-limited access to a fixed synthetic sample EMR.","description":"Use this API for prototypes, tutorials, automated tests, and agent-built demos. Every response is fictional. The API never accesses production data, a vendor sandbox, credentials, or PHI and is not for clinical use. FinchNode also offers free production-grade access with a FinchNode account at https://finchnode.com/signup. The separate authenticated API provides real, patient-authorized records within the included free-plan allowances. Live access requires production credentials, a supported source, and patient authorization and consent. See https://finchnode.com/ehr-integration-api and https://finchnode.com/#pricing."},"servers":[{"url":"https://api.finchnode.com/demo/v1","description":"Public synthetic demo"},{"url":"http://localhost:5001/demo/v1","description":"Local development"}],"security":[],"tags":[{"name":"Start","description":"Discovery and simulated Connect flow"},{"name":"Records","description":"Normalized synthetic records"},{"name":"FHIR","description":"Read-only FHIR R4 sample resources"}],"paths":{"/":{"get":{"tags":["Start"],"operationId":"getDemoIndex","summary":"Discover the public demo API","responses":{"200":{"description":"Demo API index.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/health":{"get":{"tags":["Start"],"operationId":"getDemoHealth","summary":"Check demo API availability","responses":{"200":{"description":"Demo API is available.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/providers":{"get":{"tags":["Start"],"operationId":"listDemoProviders","summary":"List fictional sample providers","responses":{"200":{"description":"Synthetic providers.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/connect/sessions":{"post":{"tags":["Start"],"operationId":"createDemoConnectSession","summary":"Simulate a completed Connect session","requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"external_user_id":{"type":"string","maxLength":100,"pattern":"^[A-Za-z0-9._:-]+$"},"categories":{"type":"array","minItems":1,"uniqueItems":true,"items":{"type":"string","enum":["demographics","medications","conditions","labs","vitals","allergies","immunizations","encounters"]}}}},"examples":{"default":{"value":{"external_user_id":"prototype-user-1","categories":["demographics","labs","medications"]}}}}}},"responses":{"201":{"description":"A non-persistent synthetic Connect result.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"$ref":"#/components/responses/BadRequest"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/patients":{"get":{"tags":["Records"],"operationId":"listDemoPatients","summary":"List synthetic patients","responses":{"200":{"description":"Synthetic patients.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/patients/{patientId}":{"get":{"tags":["Records"],"operationId":"getDemoPatient","summary":"Get the synthetic patient","parameters":[{"$ref":"#/components/parameters/PatientId"}],"responses":{"200":{"description":"Synthetic patient.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/patients/{patientId}/records":{"get":{"tags":["Records"],"operationId":"getDemoPatientRecords","summary":"Get normalized synthetic records","parameters":[{"$ref":"#/components/parameters/PatientId"},{"name":"categories","in":"query","description":"Comma-separated subset of available categories.","schema":{"type":"string","example":"demographics,labs,medications"}}],"responses":{"200":{"description":"Categorized synthetic record.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/fhir/metadata":{"get":{"tags":["FHIR"],"operationId":"getDemoCapabilityStatement","summary":"Get the sample FHIR capability statement","responses":{"200":{"description":"FHIR R4 CapabilityStatement.","content":{"application/fhir+json":{"schema":{"type":"object","additionalProperties":true}}}},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/fhir/{resourceType}":{"get":{"tags":["FHIR"],"operationId":"searchDemoFhirResources","summary":"Search one resource type in the sample EMR","parameters":[{"name":"resourceType","in":"path","required":true,"schema":{"type":"string","example":"Observation"}},{"name":"patient","in":"query","schema":{"type":"string","default":"patient-demo-001"}}],"responses":{"200":{"description":"FHIR searchset Bundle.","content":{"application/fhir+json":{"schema":{"type":"object","additionalProperties":true}}}},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/fhir/{resourceType}/{resourceId}":{"get":{"tags":["FHIR"],"operationId":"readDemoFhirResource","summary":"Read one sample FHIR resource","parameters":[{"name":"resourceType","in":"path","required":true,"schema":{"type":"string","example":"Patient"}},{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","example":"patient-demo-001"}}],"responses":{"200":{"description":"Synthetic FHIR resource.","content":{"application/fhir+json":{"schema":{"type":"object","additionalProperties":true}}}},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimited"}}}}},"components":{"parameters":{"PatientId":{"name":"patientId","in":"path","required":true,"schema":{"type":"string","const":"patient-demo-001"}}},"responses":{"BadRequest":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"NotFound":{"description":"The requested synthetic object does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimited":{"description":"Per-IP request limit reached.","headers":{"Retry-After":{"schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"schemas":{"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message","requestId"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"requestId":{"type":"string"}}}}}}},"x-finchnode-synthetic-data":{"fixedPatientId":"patient-demo-001","fixedBundleId":"finchnode-visualizer-synthetic-bundle","clinicalUse":false}}